---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"open_search_fake"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.DeleteTable
      X-Amz-Date:
      - 20190429T172854Z
      X-Amz-Content-Sha256:
      - 6c14ec811854c777956678f89c48b495c10f4239efeca1ff74a60a18cce475da
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190429/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - 32TSHPLEGANI96T3E28ML7R3URVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3250135194'
    body:
      encoding: UTF-8
      string: '{"TableDescription":{"ItemCount":0,"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":100,"WriteCapacityUnits":20},"TableArn":"arn:aws:dynamodb:us-east-2:AWS_ACCOUNT_ID:table/open_search_fake","TableId":"1c0e73a6-9291-4775-a630-af0f93bbba3d","TableName":"open_search_fake","TableSizeBytes":0,"TableStatus":"DELETING"}}'
  recorded_at: Mon, 29 Apr 2019 17:28:55 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.ListTables
      X-Amz-Date:
      - 20190429T175453Z
      X-Amz-Content-Sha256:
      - 44136fa355b3678a1146ad16f7e8649e94fb4fc21fe77e8310c060f61caaff8a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190429/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - AC5ICGKPMK99G2ENNL3NAJMU2BVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '1315925753'
    body:
      encoding: UTF-8
      string: '{"TableNames":[]}'
  recorded_at: Mon, 29 Apr 2019 17:54:53 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"open_search_fake","ProvisionedThroughput":{"ReadCapacityUnits":100,"WriteCapacityUnits":20},"KeySchema":[{"AttributeName":"id","KeyType":"HASH"}],"AttributeDefinitions":[{"AttributeName":"id","AttributeType":"S"}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.CreateTable
      X-Amz-Date:
      - 20190429T175453Z
      X-Amz-Content-Sha256:
      - a99b1719b1159ac43ac17ec3d291f3b3b571f4ee45c702cd849cade86321b4a3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190429/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - 7G9SO031HKT860FG5N9PO7OMUVVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3433348550'
    body:
      encoding: UTF-8
      string: '{"TableDescription":{"AttributeDefinitions":[{"AttributeName":"id","AttributeType":"S"}],"CreationDateTime":1.556560493935E9,"ItemCount":0,"KeySchema":[{"AttributeName":"id","KeyType":"HASH"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":100,"WriteCapacityUnits":20},"TableArn":"arn:aws:dynamodb:us-east-2:AWS_ACCOUNT_ID:table/open_search_fake","TableId":"955ddd88-6ff5-40d3-9430-d6c1205a0a07","TableName":"open_search_fake","TableSizeBytes":0,"TableStatus":"CREATING"}}'
  recorded_at: Mon, 29 Apr 2019 17:54:53 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"open_search_fake"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
      X-Amz-Date:
      - 20190429T175455Z
      X-Amz-Content-Sha256:
      - 6c14ec811854c777956678f89c48b495c10f4239efeca1ff74a60a18cce475da
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190429/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - FIH1GQDSRJQDI41AM11H6TMM1VVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '4042913081'
    body:
      encoding: UTF-8
      string: '{"Table":{"AttributeDefinitions":[{"AttributeName":"id","AttributeType":"S"}],"CreationDateTime":1.556560493935E9,"ItemCount":0,"KeySchema":[{"AttributeName":"id","KeyType":"HASH"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":100,"WriteCapacityUnits":20},"TableArn":"arn:aws:dynamodb:us-east-2:AWS_ACCOUNT_ID:table/open_search_fake","TableId":"955ddd88-6ff5-40d3-9430-d6c1205a0a07","TableName":"open_search_fake","TableSizeBytes":0,"TableStatus":"CREATING"}}'
  recorded_at: Mon, 29 Apr 2019 17:54:56 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"open_search_fake","Item":{"created_at":{"N":"1556560502.487738"},"updated_at":{"N":"1556560502.488073"},"id":{"S":"54cb39d3-21a7-4be6-90de-b38fe4e22d0a"},"state":{"S":"pending"},"book_version_id":{"S":"book@1"},"indexing_version":{"S":"I1"},"enqueued_time":{"S":"2019-04-29T17:55:02+00:00"}},"Expected":{"id":{"Exists":false}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
      X-Amz-Date:
      - 20190429T175502Z
      X-Amz-Content-Sha256:
      - 840efeb952acc4d32cee4cc43a6a953caeacc0a7b8b8eb9fc8b30bf7b73fcccc
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190429/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - 6NH4PI83LEHS8FA0KMDE03N357VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 29 Apr 2019 17:55:02 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"open_search_fake","ScanFilter":{}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.Scan
      X-Amz-Date:
      - 20190429T175504Z
      X-Amz-Content-Sha256:
      - 80ff1505536a65bb12256f99fd1b30d9660e216a547d088b17ae480f7cab5f63
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190429/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - UR5A1Q9O7BCMB9TBB2SPMUP6ANVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '112427159'
    body:
      encoding: UTF-8
      string: '{"Count":3,"Items":[{"updated_at":{"N":"1556560502.488073"},"indexing_version":{"S":"I1"},"created_at":{"N":"1556560502.487738"},"enqueued_time":{"S":"2019-04-29T17:55:02+00:00"},"book_version_id":{"S":"book@1"},"id":{"S":"54cb39d3-21a7-4be6-90de-b38fe4e22d0a"},"state":{"S":"pending"}},{"updated_at":{"N":"1556560503.266856"},"indexing_version":{"S":"I1"},"created_at":{"N":"1556560502.795515"},"enqueued_time":{"S":"2019-04-29T17:55:02+00:00"},"book_version_id":{"S":"book@2"},"id":{"S":"02d06530-5da1-463e-898d-8278e48e4fc0"},"state":{"S":"deleted"}},{"updated_at":{"N":"1556560503.913481"},"indexing_version":{"S":"I1"},"created_at":{"N":"1556560503.623618"},"enqueued_time":{"S":"2019-04-29T17:55:03+00:00"},"book_version_id":{"S":"book@3"},"id":{"S":"9c125b47-ec6f-4449-93fe-1d675ba478a0"},"state":{"S":"delete
        pending"}}],"ScannedCount":3}'
  recorded_at: Mon, 29 Apr 2019 17:55:04 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"open_search_fake"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.DeleteTable
      X-Amz-Date:
      - 20190429T175505Z
      X-Amz-Content-Sha256:
      - 6c14ec811854c777956678f89c48b495c10f4239efeca1ff74a60a18cce475da
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190429/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - L6U6ISC2ICS7685O9M3I08T377VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3386099663'
    body:
      encoding: UTF-8
      string: '{"TableDescription":{"ItemCount":0,"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":100,"WriteCapacityUnits":20},"TableArn":"arn:aws:dynamodb:us-east-2:AWS_ACCOUNT_ID:table/open_search_fake","TableId":"955ddd88-6ff5-40d3-9430-d6c1205a0a07","TableName":"open_search_fake","TableSizeBytes":0,"TableStatus":"DELETING"}}'
  recorded_at: Mon, 29 Apr 2019 17:55:06 GMT
recorded_with: VCR 4.0.0
