---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_indexing"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.DeleteTable
      X-Amz-Date:
      - 20190430T205601Z
      X-Amz-Content-Sha256:
      - b769faf39a6d0d44a0e395242dec7e6988e15b38ec5ad2735c8e20b1cb6c56c3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190430/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - O0B2VFST47P9IBT5TU4FUHUSANVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '219742040'
    body:
      encoding: UTF-8
      string: '{"TableDescription":{"ItemCount":0,"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":100,"WriteCapacityUnits":20},"TableArn":"arn:aws:dynamodb:us-east-2:AWS_ACCOUNT_ID:table/test_indexing","TableId":"dd62f268-f6ae-49b3-aa5f-4c792f8aa9b9","TableName":"test_indexing","TableSizeBytes":0,"TableStatus":"DELETING"}}'
  recorded_at: Tue, 30 Apr 2019 20:56:01 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.ListTables
      X-Amz-Date:
      - 20190430T210228Z
      X-Amz-Content-Sha256:
      - 44136fa355b3678a1146ad16f7e8649e94fb4fc21fe77e8310c060f61caaff8a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190430/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - 2OK4K24MB7M9JTVSV5I1148MBNVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2355711749'
    body:
      encoding: UTF-8
      string: '{"TableNames":["open_search_dev_indexing","test_indexing"]}'
  recorded_at: Tue, 30 Apr 2019 21:02:28 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_indexing","ProvisionedThroughput":{"ReadCapacityUnits":100,"WriteCapacityUnits":20},"KeySchema":[{"AttributeName":"id","KeyType":"HASH"}],"AttributeDefinitions":[{"AttributeName":"id","AttributeType":"S"}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.CreateTable
      X-Amz-Date:
      - 20190430T210244Z
      X-Amz-Content-Sha256:
      - cc4741e1cc8068b421b49b3285c5618157ea09ca79bd6a55cfa53c16bf3886c2
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190430/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - ANDS0IGRO15V9CSNN6U12EU75NVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '722256050'
    body:
      encoding: UTF-8
      string: '{"TableDescription":{"AttributeDefinitions":[{"AttributeName":"id","AttributeType":"S"}],"CreationDateTime":1.556658164679E9,"ItemCount":0,"KeySchema":[{"AttributeName":"id","KeyType":"HASH"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":100,"WriteCapacityUnits":20},"TableArn":"arn:aws:dynamodb:us-east-2:AWS_ACCOUNT_ID:table/test_indexing","TableId":"8820796c-f4d6-45ce-ae08-faecb7f0b183","TableName":"test_indexing","TableSizeBytes":0,"TableStatus":"CREATING"}}'
  recorded_at: Tue, 30 Apr 2019 21:02:44 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_indexing"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
      X-Amz-Date:
      - 20190430T210246Z
      X-Amz-Content-Sha256:
      - b769faf39a6d0d44a0e395242dec7e6988e15b38ec5ad2735c8e20b1cb6c56c3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190430/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - 88JLCT89DLP3T6620U1LRQ44GFVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2529233588'
    body:
      encoding: UTF-8
      string: '{"Table":{"AttributeDefinitions":[{"AttributeName":"id","AttributeType":"S"}],"CreationDateTime":1.556658164679E9,"ItemCount":0,"KeySchema":[{"AttributeName":"id","KeyType":"HASH"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":100,"WriteCapacityUnits":20},"TableArn":"arn:aws:dynamodb:us-east-2:AWS_ACCOUNT_ID:table/test_indexing","TableId":"8820796c-f4d6-45ce-ae08-faecb7f0b183","TableName":"test_indexing","TableSizeBytes":0,"TableStatus":"CREATING"}}'
  recorded_at: Tue, 30 Apr 2019 21:02:47 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_indexing","Item":{"created_at":{"N":"1556658173.140446"},"updated_at":{"N":"1556658173.140539"},"id":{"S":"ec6cc9e3-3a40-4d5d-8e98-6f523d9fdaae"},"state":{"S":"pending"},"book_version_id":{"S":"book@1"},"indexing_version":{"S":"I1"}},"Expected":{"id":{"Exists":false}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
      X-Amz-Date:
      - 20190430T210253Z
      X-Amz-Content-Sha256:
      - c6db1c12508ac63d17a7bf180e740db35698a48232fc4ae020fb7e5f414e4674
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190430/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - VII7T4LTHLNBBS5P19B6QCQCVRVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 30 Apr 2019 21:02:53 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_indexing","ScanFilter":{}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.Scan
      X-Amz-Date:
      - 20190430T210254Z
      X-Amz-Content-Sha256:
      - fa367b39423b3c7d2c1dc1c973fa658c3d085ee3123624f53579fdc2b8d8f0ce
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190430/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - EI6JV76G39GGHG45U2CB7MBJS3VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3602969965'
    body:
      encoding: UTF-8
      string: '{"Count":3,"Items":[{"updated_at":{"N":"1556658173.908542"},"indexing_version":{"S":"I1"},"created_at":{"N":"1556658173.908417"},"id":{"S":"2bda6dc0-147f-422f-a931-c0c71ac1e9f4"},"book_version_id":{"S":"book@1"},"state":{"S":"deleted"}},{"updated_at":{"N":"1556658173.432989"},"indexing_version":{"S":"I1"},"created_at":{"N":"1556658173.432867"},"id":{"S":"b7072599-6835-4566-8ca7-b433b240878b"},"book_version_id":{"S":"book@1"},"state":{"S":"delete
        pending"}},{"updated_at":{"N":"1556658173.140539"},"indexing_version":{"S":"I1"},"created_at":{"N":"1556658173.140446"},"id":{"S":"ec6cc9e3-3a40-4d5d-8e98-6f523d9fdaae"},"book_version_id":{"S":"book@1"},"state":{"S":"pending"}}],"ScannedCount":3}'
  recorded_at: Tue, 30 Apr 2019 21:02:55 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_indexing"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.DeleteTable
      X-Amz-Date:
      - 20190430T210255Z
      X-Amz-Content-Sha256:
      - b769faf39a6d0d44a0e395242dec7e6988e15b38ec5ad2735c8e20b1cb6c56c3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190430/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - 1I96D0RVIMBKTHKJDBPQ63DJ2NVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2104280769'
    body:
      encoding: UTF-8
      string: '{"TableDescription":{"ItemCount":0,"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":100,"WriteCapacityUnits":20},"TableArn":"arn:aws:dynamodb:us-east-2:AWS_ACCOUNT_ID:table/test_indexing","TableId":"8820796c-f4d6-45ce-ae08-faecb7f0b183","TableName":"test_indexing","TableSizeBytes":0,"TableStatus":"DELETING"}}'
  recorded_at: Tue, 30 Apr 2019 21:02:55 GMT
recorded_with: VCR 4.0.0
