---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_indexing"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
      X-Amz-Date:
      - 20190502T224448Z
      X-Amz-Content-Sha256:
      - b769faf39a6d0d44a0e395242dec7e6988e15b38ec5ad2735c8e20b1cb6c56c3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190502/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - 7UB7NJ1561NCGPMQ71I3GV9RJNVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '229862663'
    body:
      encoding: UTF-8
      string: '{"Table":{"ItemCount":0,"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":2,"WriteCapacityUnits":2},"TableArn":"arn:aws:dynamodb:us-east-2:AWS_ACCOUNT_ID:table/test_indexing","TableId":"f39f10d1-a228-4cde-8356-3cc896e70d4e","TableName":"test_indexing","TableSizeBytes":0,"TableStatus":"DELETING"}}'
  recorded_at: Thu, 02 May 2019 22:44:48 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"AttributeDefinitions":[{"AttributeName":"book_version_id","AttributeType":"S"},{"AttributeName":"indexing_version","AttributeType":"S"}],"TableName":"test_indexing","KeySchema":[{"AttributeName":"book_version_id","KeyType":"HASH"},{"AttributeName":"indexing_version","KeyType":"RANGE"}],"ProvisionedThroughput":{"ReadCapacityUnits":2,"WriteCapacityUnits":2}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.CreateTable
      X-Amz-Date:
      - 20190502T225851Z
      X-Amz-Content-Sha256:
      - 7a2d2386a2c56ce16b0a2787bd48bcd7deff703cfa247ba8e07a901ec91a69e2
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190502/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - 07M4KGMADF7IMH133V07CIF123VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '406433690'
    body:
      encoding: UTF-8
      string: '{"TableDescription":{"AttributeDefinitions":[{"AttributeName":"book_version_id","AttributeType":"S"},{"AttributeName":"indexing_version","AttributeType":"S"}],"CreationDateTime":1.556837931582E9,"ItemCount":0,"KeySchema":[{"AttributeName":"book_version_id","KeyType":"HASH"},{"AttributeName":"indexing_version","KeyType":"RANGE"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":2,"WriteCapacityUnits":2},"TableArn":"arn:aws:dynamodb:us-east-2:AWS_ACCOUNT_ID:table/test_indexing","TableId":"b6af247b-3755-421e-99f6-32264dce0ec1","TableName":"test_indexing","TableSizeBytes":0,"TableStatus":"CREATING"}}'
  recorded_at: Thu, 02 May 2019 22:58:51 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_indexing","Item":{"created_at":{"S":"2019-05-02T22:59:12+00:00"},"updated_at":{"S":"2019-05-02T22:59:12+00:00"},"book_version_id":{"S":"book@1"},"indexing_version":{"S":"I1"},"state":{"S":"create
        pending"},"message":{"S":"message 1"}},"Expected":{"book_version_id":{"Exists":false},"indexing_version":{"Exists":false}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
      X-Amz-Date:
      - 20190502T225912Z
      X-Amz-Content-Sha256:
      - 4391f3134ed2c2da9739da2f57ab2df696b7c7cd715f6c279e90d9e0985389a6
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190502/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - 7QEVF5N7PE4D1EKT1FC3M1D98JVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 02 May 2019 22:59:13 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_indexing","ScanFilter":{}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.Scan
      X-Amz-Date:
      - 20190502T225913Z
      X-Amz-Content-Sha256:
      - fa367b39423b3c7d2c1dc1c973fa658c3d085ee3123624f53579fdc2b8d8f0ce
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190502/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - HANR8PP3EULC9FM73M3M9L7GRVVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2349975461'
    body:
      encoding: UTF-8
      string: '{"Count":3,"Items":[{"updated_at":{"S":"2019-05-02T22:59:13+00:00"},"message":{"S":"message
        2"},"indexing_version":{"S":"I1"},"created_at":{"S":"2019-05-02T22:59:13+00:00"},"book_version_id":{"S":"book@2"},"state":{"S":"delete
        pending"}},{"updated_at":{"S":"2019-05-02T22:59:12+00:00"},"message":{"S":"message
        1"},"indexing_version":{"S":"I1"},"created_at":{"S":"2019-05-02T22:59:12+00:00"},"book_version_id":{"S":"book@1"},"state":{"S":"create
        pending"}},{"updated_at":{"S":"2019-05-02T22:59:13+00:00"},"message":{"S":"message
        3"},"indexing_version":{"S":"I1"},"created_at":{"S":"2019-05-02T22:59:13+00:00"},"book_version_id":{"S":"book@3"},"state":{"S":"deleted"}}],"ScannedCount":3}'
  recorded_at: Thu, 02 May 2019 22:59:14 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_indexing"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
      X-Amz-Date:
      - 20190502T225935Z
      X-Amz-Content-Sha256:
      - b769faf39a6d0d44a0e395242dec7e6988e15b38ec5ad2735c8e20b1cb6c56c3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190502/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - OCVFT0HLO31L7BC8RIEQ3E94HRVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '504833711'
    body:
      encoding: UTF-8
      string: '{"__type":"com.amazonaws.dynamodb.v20120810#ResourceNotFoundException","message":"Requested
        resource not found: Table: test_indexing not found"}'
  recorded_at: Thu, 02 May 2019 22:59:35 GMT
recorded_with: VCR 4.0.0
