---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"AttributeDefinitions":[{"AttributeName":"book_version_id","AttributeType":"S"},{"AttributeName":"indexing_strategy_name","AttributeType":"S"}],"TableName":"test_indexing","KeySchema":[{"AttributeName":"book_version_id","KeyType":"HASH"},{"AttributeName":"indexing_strategy_name","KeyType":"RANGE"}],"ProvisionedThroughput":{"ReadCapacityUnits":2,"WriteCapacityUnits":2}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.CreateTable
      X-Amz-Date:
      - 20190703T191419Z
      X-Amz-Content-Sha256:
      - 560d274fe07649d0c2046c4fbc04178d9e9663e684bb1f2a1fe02b6ee31d301e
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190703/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - QN2LOB9S6K91BBN8S7E28JB8CRVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '4251279279'
    body:
      encoding: UTF-8
      string: '{"TableDescription":{"AttributeDefinitions":[{"AttributeName":"book_version_id","AttributeType":"S"},{"AttributeName":"indexing_strategy_name","AttributeType":"S"}],"CreationDateTime":1.562181259884E9,"ItemCount":0,"KeySchema":[{"AttributeName":"book_version_id","KeyType":"HASH"},{"AttributeName":"indexing_strategy_name","KeyType":"RANGE"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":2,"WriteCapacityUnits":2},"TableArn":"arn:aws:dynamodb:us-east-2:AWS_ACCOUNT_ID:table/test_indexing","TableId":"afd7fc8b-c324-42de-a5f5-b99642305a14","TableName":"test_indexing","TableSizeBytes":0,"TableStatus":"CREATING"}}'
  recorded_at: Wed, 03 Jul 2019 19:14:19 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_indexing"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
      X-Amz-Date:
      - 20190703T191419Z
      X-Amz-Content-Sha256:
      - b769faf39a6d0d44a0e395242dec7e6988e15b38ec5ad2735c8e20b1cb6c56c3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190703/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - OSAB23JHMSQTKAFKT1L7KIBRB7VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '132727224'
    body:
      encoding: UTF-8
      string: '{"Table":{"AttributeDefinitions":[{"AttributeName":"book_version_id","AttributeType":"S"},{"AttributeName":"indexing_strategy_name","AttributeType":"S"}],"CreationDateTime":1.562181259884E9,"ItemCount":0,"KeySchema":[{"AttributeName":"book_version_id","KeyType":"HASH"},{"AttributeName":"indexing_strategy_name","KeyType":"RANGE"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":2,"WriteCapacityUnits":2},"TableArn":"arn:aws:dynamodb:us-east-2:AWS_ACCOUNT_ID:table/test_indexing","TableId":"afd7fc8b-c324-42de-a5f5-b99642305a14","TableName":"test_indexing","TableSizeBytes":0,"TableStatus":"CREATING"}}'
  recorded_at: Wed, 03 Jul 2019 19:14:20 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_indexing","Item":{"created_at":{"S":"2019-07-03T19:14:40+00:00"},"updated_at":{"S":"2019-07-03T19:14:40+00:00"},"book_version_id":{"S":"book@1"},"indexing_strategy_name":{"S":"I1"},"state":{"S":"create
        pending"},"message":{"S":"message 1"}},"Expected":{"book_version_id":{"Exists":false},"indexing_strategy_name":{"Exists":false}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
      X-Amz-Date:
      - 20190703T191440Z
      X-Amz-Content-Sha256:
      - d90ac8c71431aaf1e0a17c816318c6d1ac3e9d3a084b4b2607d1e48e0ae298f8
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190703/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - D1RU8OPIVA7P2US7TRC9I6CR2JVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Wed, 03 Jul 2019 19:14:41 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_indexing","ScanFilter":{}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.Scan
      X-Amz-Date:
      - 20190703T191442Z
      X-Amz-Content-Sha256:
      - fa367b39423b3c7d2c1dc1c973fa658c3d085ee3123624f53579fdc2b8d8f0ce
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190703/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - VTECVIFJQUQ641ASOHSIJDKPBBVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3262044167'
    body:
      encoding: UTF-8
      string: '{"Count":3,"Items":[{"updated_at":{"S":"2019-07-03T19:14:41+00:00"},"message":{"S":"message
        2"},"created_at":{"S":"2019-07-03T19:14:41+00:00"},"book_version_id":{"S":"book@2"},"indexing_strategy_name":{"S":"I1"},"state":{"S":"delete
        pending"}},{"updated_at":{"S":"2019-07-03T19:14:40+00:00"},"message":{"S":"message
        1"},"created_at":{"S":"2019-07-03T19:14:40+00:00"},"book_version_id":{"S":"book@1"},"indexing_strategy_name":{"S":"I1"},"state":{"S":"create
        pending"}},{"updated_at":{"S":"2019-07-03T19:14:41+00:00"},"message":{"S":"message
        3"},"created_at":{"S":"2019-07-03T19:14:41+00:00"},"book_version_id":{"S":"book@3"},"indexing_strategy_name":{"S":"I1"},"state":{"S":"created"}}],"ScannedCount":3}'
  recorded_at: Wed, 03 Jul 2019 19:14:42 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_indexing"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
      X-Amz-Date:
      - 20190703T191625Z
      X-Amz-Content-Sha256:
      - b769faf39a6d0d44a0e395242dec7e6988e15b38ec5ad2735c8e20b1cb6c56c3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190703/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - RN60ELAE3OK5HIGI8S5QN9LTG3VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '504833711'
    body:
      encoding: UTF-8
      string: '{"__type":"com.amazonaws.dynamodb.v20120810#ResourceNotFoundException","message":"Requested
        resource not found: Table: test_indexing not found"}'
  recorded_at: Wed, 03 Jul 2019 19:16:26 GMT
recorded_with: VCR 4.0.0
