---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"open_search_bookindexings"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
      X-Amz-Date:
      - 20190422T210522Z
      X-Amz-Content-Sha256:
      - 9ee068ab340af7caabc45136ab98c74475c14aa214fe1f2cf5b0650a7ec3fa96
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190422/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - JPE7KPCIQMC81AVJGF0THTVQGVVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3857701160'
    body:
      encoding: UTF-8
      string: '{"Table":{"AttributeDefinitions":[{"AttributeName":"id","AttributeType":"S"}],"CreationDateTime":1.555967115967E9,"ItemCount":0,"KeySchema":[{"AttributeName":"id","KeyType":"HASH"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":100,"WriteCapacityUnits":20},"TableArn":"arn:aws:dynamodb:us-east-2:AWS_ACCOUNT_ID:table/open_search_bookindexings","TableId":"06c1fea0-651a-4358-921b-c255ad2bb57f","TableName":"open_search_bookindexings","TableSizeBytes":0,"TableStatus":"ACTIVE"}}'
  recorded_at: Mon, 22 Apr 2019 21:05:22 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"open_search_bookindexings","ScanFilter":{"book_version_id":{"ComparisonOperator":"EQ","AttributeValueList":[{"S":"14fb4ad7-39a1-4eee-ab6e-3ef2482e3e22@15.1"}]},"indexing_version":{"ComparisonOperator":"EQ","AttributeValueList":[{"S":"I1"}]}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.Scan
      X-Amz-Date:
      - 20190422T210522Z
      X-Amz-Content-Sha256:
      - f816fcfb464f3a9c3f6a40a8d5f898edd9b64370185eb3558b7f27f1b3813519
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190422/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - F92M3GK1IC8I7S974RFRIJ708JVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3413411624'
    body:
      encoding: UTF-8
      string: '{"Count":0,"Items":[],"ScannedCount":0}'
  recorded_at: Mon, 22 Apr 2019 21:05:22 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"open_search_bookindexings","Item":{"id":{"S":"c76c9efa-c876-4c25-b478-3c0ce92ee09a"},"state":{"S":"pending"},"book_version_id":{"S":"14fb4ad7-39a1-4eee-ab6e-3ef2482e3e22@15.1"},"indexing_version":{"S":"I1"},"enqueued_time":{"S":"2019-04-22T21:05:22+00:00"}},"Expected":{"id":{"Exists":false}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
      X-Amz-Date:
      - 20190422T210522Z
      X-Amz-Content-Sha256:
      - b7f286da019e431485accf9ae8d0bc0961a1266120aeb07fdc587c1d3a3638b0
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190422/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - 0M7QS3LA9ITPNJ1K23SJ1F15GRVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 22 Apr 2019 21:05:23 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Select":"COUNT","TableName":"open_search_bookindexings","ScanFilter":{"book_version_id":{"ComparisonOperator":"EQ","AttributeValueList":[{"S":"14fb4ad7-39a1-4eee-ab6e-3ef2482e3e22@15.1"}]}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.Scan
      X-Amz-Date:
      - 20190422T210523Z
      X-Amz-Content-Sha256:
      - 23982165ec7af10e7141a5496fe4921f215fbf56cefa5f6b7c8959af0e0cc629
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190422/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - SBPTQ39JSIBQ53FNS7VQ9198JJVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '788233591'
    body:
      encoding: UTF-8
      string: '{"Count":1,"ScannedCount":1}'
  recorded_at: Mon, 22 Apr 2019 21:05:23 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.ListTables
      X-Amz-Date:
      - 20190422T210523Z
      X-Amz-Content-Sha256:
      - 44136fa355b3678a1146ad16f7e8649e94fb4fc21fe77e8310c060f61caaff8a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190422/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - 3BSUMSL3F405I72DBT305PFSVFVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2067029082'
    body:
      encoding: UTF-8
      string: '{"TableNames":["open_search_bookindexings"]}'
  recorded_at: Mon, 22 Apr 2019 21:05:23 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"open_search_bookindexings"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.DeleteTable
      X-Amz-Date:
      - 20190422T210523Z
      X-Amz-Content-Sha256:
      - 9ee068ab340af7caabc45136ab98c74475c14aa214fe1f2cf5b0650a7ec3fa96
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190422/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - KQ9SQ27HTE6KSACU3A8PJOG493VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3391410012'
    body:
      encoding: UTF-8
      string: '{"TableDescription":{"ItemCount":0,"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":100,"WriteCapacityUnits":20},"TableArn":"arn:aws:dynamodb:us-east-2:AWS_ACCOUNT_ID:table/open_search_bookindexings","TableId":"06c1fea0-651a-4358-921b-c255ad2bb57f","TableName":"open_search_bookindexings","TableSizeBytes":0,"TableStatus":"DELETING"}}'
  recorded_at: Mon, 22 Apr 2019 21:05:24 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"open_search_bookindexings"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.DeleteTable
      X-Amz-Date:
      - 20190422T214523Z
      X-Amz-Content-Sha256:
      - 9ee068ab340af7caabc45136ab98c74475c14aa214fe1f2cf5b0650a7ec3fa96
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190422/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - GR3FAM27U9G0CTNMB7AJRVNPU7VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '1218265387'
    body:
      encoding: UTF-8
      string: '{"TableDescription":{"ItemCount":0,"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":100,"WriteCapacityUnits":20},"TableArn":"arn:aws:dynamodb:us-east-2:AWS_ACCOUNT_ID:table/open_search_bookindexings","TableId":"a6dabc4e-acca-480e-931a-4d41e717e8b2","TableName":"open_search_bookindexings","TableSizeBytes":0,"TableStatus":"DELETING"}}'
  recorded_at: Mon, 22 Apr 2019 21:45:23 GMT
recorded_with: VCR 4.0.0
