---
http_interactions:
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateQueue&QueueName=test&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190528T173658Z
      X-Amz-Content-Sha256:
      - ea99f072e375b704c1a6e51b6caaaa67b02f939e69674e027f822f149e61dc1f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190528/us-east-2/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 66630539-a445-5106-aa2e-505ed7be7842
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/test</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>66630539-a445-5106-aa2e-505ed7be7842</RequestId></ResponseMetadata></CreateQueueResponse>
  recorded_at: Tue, 28 May 2019 17:36:59 GMT
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/test
    body:
      encoding: UTF-8
      string: Action=SendMessage&MessageBody=%7B%22type%22%3A%22DoneIndexJob%22%2C%22status%22%3A%22successful%22%2C%22book_version_id%22%3Anull%2C%22indexing_strategy_name%22%3Anull%2C%22es_stats%22%3Anull%2C%22time_took%22%3Anull%2C%22ran_job_json%22%3A%22null%22%2C%22message%22%3Anull%7D&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2FAWS_ACCOUNT_ID%2Ftest&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190528T173659Z
      X-Amz-Content-Sha256:
      - c7836fb23f800f1467b46f8edf5fa6afa3d497014f8591b39d100d0f7185f3ab
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190528/us-east-2/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - bf69b2f0-2ee2-525f-949d-e7975d1e699e
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><SendMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><SendMessageResult><MessageId>260930f4-69d1-47b5-bc2a-af24d3046969</MessageId><MD5OfMessageBody>c4baee53905171db0e144dca53464a2c</MD5OfMessageBody></SendMessageResult><ResponseMetadata><RequestId>bf69b2f0-2ee2-525f-949d-e7975d1e699e</RequestId></ResponseMetadata></SendMessageResponse>
  recorded_at: Tue, 28 May 2019 17:37:00 GMT
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/test
    body:
      encoding: UTF-8
      string: Action=GetQueueAttributes&AttributeName.1=All&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2FAWS_ACCOUNT_ID%2Ftest&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190528T173700Z
      X-Amz-Content-Sha256:
      - ddea8ec50c4337df26fc889d62ce6048c39008ffb682a11ef1742dbc6ac3b698
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190528/us-east-2/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 4af314d4-145a-5b5d-bd4b-41b367a65f60
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueAttributesResult><Attribute><Name>QueueArn</Name><Value>arn:aws:sqs:us-east-2:AWS_ACCOUNT_ID:test</Value></Attribute><Attribute><Name>ApproximateNumberOfMessages</Name><Value>1</Value></Attribute><Attribute><Name>ApproximateNumberOfMessagesNotVisible</Name><Value>0</Value></Attribute><Attribute><Name>ApproximateNumberOfMessagesDelayed</Name><Value>0</Value></Attribute><Attribute><Name>CreatedTimestamp</Name><Value>1559065019</Value></Attribute><Attribute><Name>LastModifiedTimestamp</Name><Value>1559065019</Value></Attribute><Attribute><Name>VisibilityTimeout</Name><Value>30</Value></Attribute><Attribute><Name>MaximumMessageSize</Name><Value>262144</Value></Attribute><Attribute><Name>MessageRetentionPeriod</Name><Value>345600</Value></Attribute><Attribute><Name>DelaySeconds</Name><Value>0</Value></Attribute><Attribute><Name>ReceiveMessageWaitTimeSeconds</Name><Value>0</Value></Attribute></GetQueueAttributesResult><ResponseMetadata><RequestId>4af314d4-145a-5b5d-bd4b-41b367a65f60</RequestId></ResponseMetadata></GetQueueAttributesResponse>
  recorded_at: Tue, 28 May 2019 17:37:00 GMT
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/test
    body:
      encoding: UTF-8
      string: Action=DeleteQueue&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2FAWS_ACCOUNT_ID%2Ftest&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190528T173700Z
      X-Amz-Content-Sha256:
      - fd2c0ff443cbef36938551474eed276120f98e0c429282415742403717ceb951
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190528/us-east-2/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 1f7edc04-e10d-58fd-bb7d-896392f0d63e
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><DeleteQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ResponseMetadata><RequestId>1f7edc04-e10d-58fd-bb7d-896392f0d63e</RequestId></ResponseMetadata></DeleteQueueResponse>
  recorded_at: Tue, 28 May 2019 17:37:01 GMT
recorded_with: VCR 4.0.0
