---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"AttributeDefinitions":[{"AttributeName":"book_version_id","AttributeType":"S"},{"AttributeName":"indexing_strategy_name","AttributeType":"S"}],"TableName":"test_indexing","KeySchema":[{"AttributeName":"book_version_id","KeyType":"HASH"},{"AttributeName":"indexing_strategy_name","KeyType":"RANGE"}],"ProvisionedThroughput":{"ReadCapacityUnits":2,"WriteCapacityUnits":2}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.CreateTable
      X-Amz-Date:
      - 20190603T232439Z
      X-Amz-Content-Sha256:
      - 560d274fe07649d0c2046c4fbc04178d9e9663e684bb1f2a1fe02b6ee31d301e
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190603/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - OMAF1C9771HPT7E23QH966A1LBVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '565323287'
    body:
      encoding: UTF-8
      string: '{"TableDescription":{"AttributeDefinitions":[{"AttributeName":"book_version_id","AttributeType":"S"},{"AttributeName":"indexing_strategy_name","AttributeType":"S"}],"CreationDateTime":1.559604279865E9,"ItemCount":0,"KeySchema":[{"AttributeName":"book_version_id","KeyType":"HASH"},{"AttributeName":"indexing_strategy_name","KeyType":"RANGE"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":2,"WriteCapacityUnits":2},"TableArn":"arn:aws:dynamodb:us-east-2:AWS_ACCOUNT_ID:table/test_indexing","TableId":"89cce65b-2dac-4e21-8e61-f2da62cd3775","TableName":"test_indexing","TableSizeBytes":0,"TableStatus":"CREATING"}}'
  recorded_at: Mon, 03 Jun 2019 23:24:39 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_indexing"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
      X-Amz-Date:
      - 20190603T232439Z
      X-Amz-Content-Sha256:
      - b769faf39a6d0d44a0e395242dec7e6988e15b38ec5ad2735c8e20b1cb6c56c3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190603/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - H9E8JMD0792RGD1I6B488ORF53VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3678287872'
    body:
      encoding: UTF-8
      string: '{"Table":{"AttributeDefinitions":[{"AttributeName":"book_version_id","AttributeType":"S"},{"AttributeName":"indexing_strategy_name","AttributeType":"S"}],"CreationDateTime":1.559604279865E9,"ItemCount":0,"KeySchema":[{"AttributeName":"book_version_id","KeyType":"HASH"},{"AttributeName":"indexing_strategy_name","KeyType":"RANGE"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":2,"WriteCapacityUnits":2},"TableArn":"arn:aws:dynamodb:us-east-2:AWS_ACCOUNT_ID:table/test_indexing","TableId":"89cce65b-2dac-4e21-8e61-f2da62cd3775","TableName":"test_indexing","TableSizeBytes":0,"TableStatus":"CREATING"}}'
  recorded_at: Mon, 03 Jun 2019 23:24:40 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.ListTables
      X-Amz-Date:
      - 20190603T232501Z
      X-Amz-Content-Sha256:
      - 44136fa355b3678a1146ad16f7e8649e94fb4fc21fe77e8310c060f61caaff8a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190603/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - BV2PKK9JC9278K18F5NNI30T9RVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3691017761'
    body:
      encoding: UTF-8
      string: '{"TableNames":["dev_indexing","may28c-search-dynamo-db-IndexStateDynamoDBTable-1877ZMJAKCD7A","test_indexing"]}'
  recorded_at: Mon, 03 Jun 2019 23:25:02 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_indexing","Item":{"created_at":{"S":"2019-06-03T23:25:02+00:00"},"updated_at":{"S":"2019-06-03T23:25:02+00:00"},"book_version_id":{"S":"14fb4ad7-39a1-4eee-ab6e-3ef2482e3e22@15.1"},"indexing_strategy_name":{"S":"I1"},"state":{"S":"create
        pending"},"status_log":{"L":[{"S":"{\"action\":\"enqueued_create\",\"at\":\"2019-06-03T23:25:01.947Z\"}"}]}},"Expected":{"book_version_id":{"Exists":false},"indexing_strategy_name":{"Exists":false}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
      X-Amz-Date:
      - 20190603T232502Z
      X-Amz-Content-Sha256:
      - b6b1730d2ab5c608e81db45e93fe251bd192e2089b9e11313c2bd69c7e0c2501
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190603/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - G7QUUB52U38OTLIN8VQ9MH0VNBVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 03 Jun 2019 23:25:02 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"ConsistentRead":false,"ScanIndexForward":true,"Select":"COUNT","TableName":"test_indexing","KeyConditions":{"book_version_id":{"ComparisonOperator":"EQ","AttributeValueList":[{"S":"14fb4ad7-39a1-4eee-ab6e-3ef2482e3e22@15.1"}]}},"QueryFilter":{}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.Query
      X-Amz-Date:
      - 20190603T232503Z
      X-Amz-Content-Sha256:
      - db7fbc1da807cbcfae110aba513db6c27cfa56d4e07a343db1e010469e0c43b0
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190603/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - KU4J5IJJR3U2QBLNCCD69FGEH7VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '788233591'
    body:
      encoding: UTF-8
      string: '{"Count":1,"ScannedCount":1}'
  recorded_at: Mon, 03 Jun 2019 23:25:03 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_indexing"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
      X-Amz-Date:
      - 20190603T232647Z
      X-Amz-Content-Sha256:
      - b769faf39a6d0d44a0e395242dec7e6988e15b38ec5ad2735c8e20b1cb6c56c3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190603/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - F16GGN8D26NHU19PDCKVFQ44SVVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '504833711'
    body:
      encoding: UTF-8
      string: '{"__type":"com.amazonaws.dynamodb.v20120810#ResourceNotFoundException","message":"Requested
        resource not found: Table: test_indexing not found"}'
  recorded_at: Mon, 03 Jun 2019 23:26:47 GMT
recorded_with: VCR 4.0.0
