---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.ListTables
      X-Amz-Date:
      - 20190430T205431Z
      X-Amz-Content-Sha256:
      - 44136fa355b3678a1146ad16f7e8649e94fb4fc21fe77e8310c060f61caaff8a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190430/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - 2RADVUNC13KP32C27EGG58J37JVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2355711749'
    body:
      encoding: UTF-8
      string: '{"TableNames":["open_search_dev_indexing","test_indexing"]}'
  recorded_at: Tue, 30 Apr 2019 20:54:32 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_indexing","Item":{"created_at":{"N":"1556657735.5781"},"updated_at":{"N":"1556657735.578373"},"id":{"S":"1f1041be-4750-481e-95d0-d08f35b8d06c"},"state":{"S":"pending"},"book_version_id":{"S":"14fb4ad7-39a1-4eee-ab6e-3ef2482e3e22@15.1"},"indexing_version":{"S":"I1"},"enqueued_time":{"S":"2019-04-30T20:55:35+00:00"}},"Expected":{"id":{"Exists":false}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
      X-Amz-Date:
      - 20190430T205535Z
      X-Amz-Content-Sha256:
      - ddaf2fa38e13e8dffb6b061ee405b14cc15d950da3ac9f2082f4ee96502fab71
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190430/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - M4TDE38301VILMJNDENDOB4A23VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 30 Apr 2019 20:55:35 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_indexing"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
      X-Amz-Date:
      - 20190430T205535Z
      X-Amz-Content-Sha256:
      - b769faf39a6d0d44a0e395242dec7e6988e15b38ec5ad2735c8e20b1cb6c56c3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190430/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - TN9CTAMUBIM6J5C81P7589D99JVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '1344357779'
    body:
      encoding: UTF-8
      string: '{"Table":{"AttributeDefinitions":[{"AttributeName":"id","AttributeType":"S"}],"CreationDateTime":1.5566575343E9,"ItemCount":0,"KeySchema":[{"AttributeName":"id","KeyType":"HASH"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":100,"WriteCapacityUnits":20},"TableArn":"arn:aws:dynamodb:us-east-2:AWS_ACCOUNT_ID:table/test_indexing","TableId":"58484bf5-a9c2-48e1-9f61-766f39ff9682","TableName":"test_indexing","TableSizeBytes":0,"TableStatus":"ACTIVE"}}'
  recorded_at: Tue, 30 Apr 2019 20:55:36 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"Select":"COUNT","TableName":"test_indexing","ScanFilter":{"book_version_id":{"ComparisonOperator":"EQ","AttributeValueList":[{"S":"14fb4ad7-39a1-4eee-ab6e-3ef2482e3e22@15.1"}]}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.Scan
      X-Amz-Date:
      - 20190430T205536Z
      X-Amz-Content-Sha256:
      - b84a3d8bdb90e1f0fe070e6d13574987a68176202ec991250b7c97c81f189140
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190430/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - LMH2QD67301FFF6QRETC4KQJE3VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '788233591'
    body:
      encoding: UTF-8
      string: '{"Count":1,"ScannedCount":1}'
  recorded_at: Tue, 30 Apr 2019 20:55:36 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_indexing"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.DeleteTable
      X-Amz-Date:
      - 20190430T205536Z
      X-Amz-Content-Sha256:
      - b769faf39a6d0d44a0e395242dec7e6988e15b38ec5ad2735c8e20b1cb6c56c3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190430/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - 3IH1ECS8HTQBQV2O38C8KGQFUVVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2012432960'
    body:
      encoding: UTF-8
      string: '{"TableDescription":{"ItemCount":0,"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":100,"WriteCapacityUnits":20},"TableArn":"arn:aws:dynamodb:us-east-2:AWS_ACCOUNT_ID:table/test_indexing","TableId":"58484bf5-a9c2-48e1-9f61-766f39ff9682","TableName":"test_indexing","TableSizeBytes":0,"TableStatus":"DELETING"}}'
  recorded_at: Tue, 30 Apr 2019 20:55:36 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_indexing"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.DeleteTable
      X-Amz-Date:
      - 20190430T210227Z
      X-Amz-Content-Sha256:
      - b769faf39a6d0d44a0e395242dec7e6988e15b38ec5ad2735c8e20b1cb6c56c3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190430/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - KVKJJ8TR0AF3CQIGE4FNLS42IJVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3906415604'
    body:
      encoding: UTF-8
      string: '{"TableDescription":{"ItemCount":0,"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":100,"WriteCapacityUnits":20},"TableArn":"arn:aws:dynamodb:us-east-2:AWS_ACCOUNT_ID:table/test_indexing","TableId":"04b0733e-e65a-4e9e-b3f9-63635c9fcd63","TableName":"test_indexing","TableSizeBytes":0,"TableStatus":"DELETING"}}'
  recorded_at: Tue, 30 Apr 2019 21:02:28 GMT
recorded_with: VCR 4.0.0
