development:
  search_worker_asg_name: "dev-search-worker"
  secret_key_base: 517a4eb6769e6ce0399f4e345873ecd1d2d92b11e53b7ec0a281a6ceaa3762d627211d92d0de478198dad362417343993262c983c161004c47756ec1ff4511b8
  base_url: <%= ENV['BASE_URL'] || 'http://localhost:4003' %>
  elasticsearch:
    endpoint: elasticsearch:9200
    protocol: "http"
  dynamodb:
    index_state_table_name: dev_indexing
  rex_release_bucket:
    name: "nothing real"
    region: "us-east-1"
  sqs:
    todo_jobs_queue_url: http://fake
    done_jobs_queue_url: http://fake
    todo_jobs_dead_letter_queue_url: http://fake

test:
  search_worker_asg_name: "test-search-worker"
  secret_key_base: 1b42c4386b75cda9a082a05fee60398c037b52ed0b6f059ff116c33b84f3ea3dfff036e79273e1e3dd59f325fd2ed179de2937b06778d38343591a2032b0b424
  base_url: <%= ENV['BASE_URL'] || 'http://localhost:4003' %>
  elasticsearch:
    endpoint: localhost:9200
    protocol: "http"
  dynamodb:
    index_state_table_name: test_indexing
  rex_release_bucket:
    name: "nothing real"
    region: "us-east-1"
  sqs:
    todo_jobs_queue_url: http://fake
    done_jobs_queue_url: http://fake
    todo_jobs_dead_letter_queue_url: http://fake

production:
  search_worker_asg_name: "{{ search_worker_asg_name }}"
  secret_key_base: random(hex,80)
  base_url: "https://{{ domain }}"
  elasticsearch:
    endpoint: "{{ elasticsearch_endpoint }}"
    protocol: "https"
  dynamodb:
    index_state_table_name: "{{ index_state_table_name }}"
  rex_release_bucket:
    name: "{{ rex_release_bucket_name }}"
    region: "{{ rex_release_bucket_region }}"
  sqs:
    todo_jobs_queue_url: "{{ todo_jobs_queue_url }}"
    done_jobs_queue_url: "{{ done_jobs_queue_url }}"
    todo_jobs_dead_letter_queue_url: "{{ todo_jobs_dead_letter_queue_url }}"
  sentry:
    dsn: ssm(sentry_dsn)
