---
http_interactions:
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateQueue&QueueName=two&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190703T191208Z
      X-Amz-Content-Sha256:
      - 1ca8d2c534ca060462a7bdd4dc2d3c345b1817ac7ab48bd65c3091f4ff002403
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190703/us-east-2/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - da5679d1-388a-5655-97c6-2c4638c368f5
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/two</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>da5679d1-388a-5655-97c6-2c4638c368f5</RequestId></ResponseMetadata></CreateQueueResponse>
  recorded_at: Wed, 03 Jul 2019 19:12:09 GMT
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/two
    body:
      encoding: UTF-8
      string: Action=SendMessage&MessageBody=%7B%22type%22%3A%22CreateIndexJob%22%2C%22book_version_id%22%3A%22foo%401%22%2C%22indexing_strategy_name%22%3A%22I1%22%7D&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2FAWS_ACCOUNT_ID%2Ftwo&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190703T191209Z
      X-Amz-Content-Sha256:
      - 2bea6d0d39c08b239521f7a3fc85995c113c93958e88426b153683e3394a3b6d
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190703/us-east-2/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 7f62f039-ca9e-5cd9-89ce-a5aecad790e1
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><SendMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><SendMessageResult><MessageId>13a09a06-1d80-4ab7-a622-7eeffb3b8f67</MessageId><MD5OfMessageBody>2b3486ce39ad12ca17b110d22f1f1314</MD5OfMessageBody></SendMessageResult><ResponseMetadata><RequestId>7f62f039-ca9e-5cd9-89ce-a5aecad790e1</RequestId></ResponseMetadata></SendMessageResponse>
  recorded_at: Wed, 03 Jul 2019 19:12:09 GMT
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/two
    body:
      encoding: UTF-8
      string: Action=ReceiveMessage&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2FAWS_ACCOUNT_ID%2Ftwo&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190703T191209Z
      X-Amz-Content-Sha256:
      - fa8c61480f7d1ef08d93d21d06a57918af5366cdfebae3f9739d2b88680e25ad
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190703/us-east-2/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 3a00b666-0f55-585e-8001-e3f10f1fdcc1
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><ReceiveMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ReceiveMessageResult><Message><MessageId>13a09a06-1d80-4ab7-a622-7eeffb3b8f67</MessageId><ReceiptHandle>AQEBweNqGVbrwOQB2zGF/EhepH647KJfANOC2Ed5OVTMCLmhh8lrF0NLCkD+K3K081YE/3H6dLQ4sFzNyS0L80Ib54mlSpImOEA/0wgGXjx5M3ApVYf2Oc9Q8/zPEWe4Zqg2P2ernydgx8QOD+GTBfQjCSetHbRLpgyDKjJAGEJ07XCbKArlO7aTOwIfuH1g/1dPz3YOYuitw8RoZ3nNOlpS7Zm/MKoMOaNfy/4RvF0w63uIIkTlNqBqpX6MEiThj5ndUergsM+RUyUzWHtEfoJVVv/ynMv/znZriXx2gHKmuqIkpJnDgkZ7LPDhES8zW7ZZooSCip/f9RiPLWzbr06iLleqzfM2z2Uq8xOBagYe10VXhpZ7jYOADrst74erLb1n</ReceiptHandle><MD5OfBody>2b3486ce39ad12ca17b110d22f1f1314</MD5OfBody><Body>{&quot;type&quot;:&quot;CreateIndexJob&quot;,&quot;book_version_id&quot;:&quot;foo@1&quot;,&quot;indexing_strategy_name&quot;:&quot;I1&quot;}</Body></Message></ReceiveMessageResult><ResponseMetadata><RequestId>3a00b666-0f55-585e-8001-e3f10f1fdcc1</RequestId></ResponseMetadata></ReceiveMessageResponse>
  recorded_at: Wed, 03 Jul 2019 19:12:10 GMT
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/two
    body:
      encoding: UTF-8
      string: Action=DeleteQueue&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2FAWS_ACCOUNT_ID%2Ftwo&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190703T191210Z
      X-Amz-Content-Sha256:
      - 91abd00f4881f4a54f66a6ae121efc19d1753772903b953ccbcab1ba052d2892
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190703/us-east-2/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - acaf1b35-c9a2-5b1e-95d5-4ea2c9e85698
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><DeleteQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ResponseMetadata><RequestId>acaf1b35-c9a2-5b1e-95d5-4ea2c9e85698</RequestId></ResponseMetadata></DeleteQueueResponse>
  recorded_at: Wed, 03 Jul 2019 19:12:10 GMT
recorded_with: VCR 4.0.0
