---
http_interactions:
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateQueue&QueueName=two&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190603T164230Z
      X-Amz-Content-Sha256:
      - 1ca8d2c534ca060462a7bdd4dc2d3c345b1817ac7ab48bd65c3091f4ff002403
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190603/us-east-2/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - cd3e60c3-63e3-54e2-982f-35ac33d5c079
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/two</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>cd3e60c3-63e3-54e2-982f-35ac33d5c079</RequestId></ResponseMetadata></CreateQueueResponse>
  recorded_at: Mon, 03 Jun 2019 16:42:31 GMT
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/two
    body:
      encoding: UTF-8
      string: Action=SendMessage&MessageBody=%7B%22type%22%3A%22CreateIndexJob%22%2C%22book_version_id%22%3A%22foo%401%22%2C%22indexing_strategy_name%22%3A%22I1%22%7D&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2FAWS_ACCOUNT_ID%2Ftwo&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190603T164231Z
      X-Amz-Content-Sha256:
      - 2bea6d0d39c08b239521f7a3fc85995c113c93958e88426b153683e3394a3b6d
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190603/us-east-2/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - d459df27-d767-56b8-85a2-8a488750fae3
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><SendMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><SendMessageResult><MessageId>51e2606b-adbb-485e-bf75-d0d73a7d2fd9</MessageId><MD5OfMessageBody>2b3486ce39ad12ca17b110d22f1f1314</MD5OfMessageBody></SendMessageResult><ResponseMetadata><RequestId>d459df27-d767-56b8-85a2-8a488750fae3</RequestId></ResponseMetadata></SendMessageResponse>
  recorded_at: Mon, 03 Jun 2019 16:42:31 GMT
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/two
    body:
      encoding: UTF-8
      string: Action=ReceiveMessage&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2FAWS_ACCOUNT_ID%2Ftwo&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190603T164231Z
      X-Amz-Content-Sha256:
      - fa8c61480f7d1ef08d93d21d06a57918af5366cdfebae3f9739d2b88680e25ad
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190603/us-east-2/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - a67880a8-c467-5778-920c-d5c7945fec1b
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><ReceiveMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ReceiveMessageResult><Message><MessageId>51e2606b-adbb-485e-bf75-d0d73a7d2fd9</MessageId><ReceiptHandle>AQEBCOghw3pO1kMeLfxOoqg0nuZqPfyW5gvrg2i8POWw5qyIXYiMi0g7Pdvk8ScTlLYvNiuZigd+67RGdzX3rN7U1tz/CN8d3ESnkG/d9ea/dCurj76lcWP6CN4N46WasH6kMVs0PCQwsvLGcwpSfSlQFnQfZtuuX5QSsAxSC+zR1o2k+39mt1cnixRBkPKBjxnPjgtKaZsy+kQOQy5hzQeVc6Br9eZffmetD3Metda3lB0nVloaYAK5mBvqS4nHDYqz2p0WRy7UdAc6/Gr4y3J2Cb70MUyH8SYLlIzeJkK9fJPbeFBL/4oX3/sozVO8ChGrQOt2BJGU5VwSE+ib7jHRVhGb26pdYDHGY/Nr92Ec6GZEAbdmjyTzC8X1t+y+4kKq</ReceiptHandle><MD5OfBody>2b3486ce39ad12ca17b110d22f1f1314</MD5OfBody><Body>{&quot;type&quot;:&quot;CreateIndexJob&quot;,&quot;book_version_id&quot;:&quot;foo@1&quot;,&quot;indexing_strategy_name&quot;:&quot;I1&quot;}</Body></Message></ReceiveMessageResult><ResponseMetadata><RequestId>a67880a8-c467-5778-920c-d5c7945fec1b</RequestId></ResponseMetadata></ReceiveMessageResponse>
  recorded_at: Mon, 03 Jun 2019 16:42:32 GMT
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/two
    body:
      encoding: UTF-8
      string: Action=DeleteQueue&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2FAWS_ACCOUNT_ID%2Ftwo&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190603T164232Z
      X-Amz-Content-Sha256:
      - 91abd00f4881f4a54f66a6ae121efc19d1753772903b953ccbcab1ba052d2892
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190603/us-east-2/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - f9d699a2-e416-508b-a641-cccdb42ee190
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><DeleteQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ResponseMetadata><RequestId>f9d699a2-e416-508b-a641-cccdb42ee190</RequestId></ResponseMetadata></DeleteQueueResponse>
  recorded_at: Mon, 03 Jun 2019 16:42:32 GMT
recorded_with: VCR 4.0.0
