---
http_interactions:
- request:
    method: post
    uri: https://es.us-east-1.amazonaws.com/2015-01-01/es/domain
    body:
      encoding: UTF-8
      string: '{"DomainName":"some_esdomain_name","ElasticsearchVersion":"6.4","ElasticsearchClusterConfig":{"InstanceType":"m4.xlarge.elasticsearch","InstanceCount":1},"EBSOptions":{"EBSEnabled":true,"VolumeType":"gp2","VolumeSize":10},"AccessPolicies":"{\"Version\":\"2012-10-17\",\"Statement\":[{\"Effect\":\"Allow\",\"Action\":[\"es:ESHttpDelete\",\"es:ESHttpGet\",\"es:ESHttpHead\",\"es:ESHttpPost\",\"es:ESHttpPut\"],\"Principal\":{\"AWS\":\"AWS_MY_ARN\"},\"Resource\":\"arn:aws:es:us-east-1:AWS_ACCOUNT_ID:domain/some_esdomain_name/*\"}]}"}'
    headers:
      Content-Type:
      - ''
      X-Amz-Date:
      - 20190703T190216Z
      X-Amz-Content-Sha256:
      - 783f2a780fb5f4255e81892d65a18f7ef9fc23bdecaebc46f9330fa7df92196c
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190703/us-east-1/es/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 13675d7d-9dc5-11e9-8de6-ab5c24e81f4c
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"DomainStatus":{"ARN":"arn:aws:es:us-east-1:AWS_ACCOUNT_ID:domain/some_esdomain_name","AccessPolicies":"{\"Version\":\"2012-10-17\",\"Statement\":[{\"Effect\":\"Allow\",\"Principal\":{\"AWS\":\"AWS_MY_ARN\"},\"Action\":[\"es:ESHttpDelete\",\"es:ESHttpGet\",\"es:ESHttpHead\",\"es:ESHttpPost\",\"es:ESHttpPut\"],\"Resource\":\"arn:aws:es:us-east-1:AWS_ACCOUNT_ID:domain/some_esdomain_name/*\"}]}","AdvancedOptions":{"rest.action.multi.allow_explicit_index":"true"},"CognitoOptions":{"Enabled":false,"IdentityPoolId":null,"RoleArn":null,"UserPoolId":null},"Created":true,"Deleted":false,"DomainId":"AWS_ACCOUNT_ID/some_esdomain_name","DomainName":"some_esdomain_name","EBSOptions":{"EBSEnabled":true,"Iops":null,"VolumeSize":10,"VolumeType":"gp2"},"ElasticsearchClusterConfig":{"DedicatedMasterCount":null,"DedicatedMasterEnabled":false,"DedicatedMasterType":null,"InstanceCount":1,"InstanceType":"m4.xlarge.elasticsearch","ZoneAwarenessConfig":null,"ZoneAwarenessEnabled":false},"ElasticsearchVersion":"6.4","EncryptionAtRestOptions":{"Enabled":false,"KmsKeyId":null},"Endpoint":null,"Endpoints":null,"LogPublishingOptions":null,"NodeToNodeEncryptionOptions":{"Enabled":false},"Processing":true,"ServiceSoftwareOptions":{"AutomatedUpdateDate":0.0,"Cancellable":false,"CurrentVersion":"","Description":"There
        is no software update available for this domain.","NewVersion":"","UpdateAvailable":false,"UpdateStatus":"COMPLETED"},"SnapshotOptions":{"AutomatedSnapshotStartHour":0},"UpgradeProcessing":false,"VPCOptions":null}}'
  recorded_at: Wed, 03 Jul 2019 19:02:19 GMT
- request:
    method: get
    uri: https://es.us-east-1.amazonaws.com/2015-01-01/es/domain/some_esdomain_name
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      X-Amz-Date:
      - 20190703T191133Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190703/us-east-1/es/aws4_request,
        SignedHeaders=host;x-amz-content-[...]
- request:
    method: get
    uri: https://search-some_esdomain_name-randompartofendpoint.us-east-1.es.amazonaws.com/_search?q=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Amz-Date:
      - 20190703T191134Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190703/us-east-1/es/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"took":9,"timed_out":false,"_shards":{"total":0,"successful":0,"skipped":0,"failed":0},"hits":{"total":0,"max_score":0.0,"hits":[]}}'
  recorded_at: Wed, 03 Jul 2019 19:11:34 GMT
- request:
    method: get
    uri: https://search-some_esdomain_name-randompartofendpoint.us-east-1.es.amazonaws.com/_search?q=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 5fe55081-9dc6-11e9-b22f-01f55457df0d
    body:
      encoding: UTF-8
      string: '{"Message":"User: anonymous is not authorized to perform: es:ESHttpGet"}'
  recorded_at: Wed, 03 Jul 2019 19:11:35 GMT
[...]
