---
http_interactions:
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/fake
    body:
      encoding: UTF-8
      string: Action=DeleteQueue&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2FAWS_ACCOUNT_ID%2Ffake&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190422T171921Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 9c06c30e7f11e9550a4fe815172d685e319f66e22ff282aebc868e724ba9fc30
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190422/us-east-2/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 778b902d-191b-5b99-989c-c51ae0c2c3d9
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><DeleteQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ResponseMetadata><RequestId>778b902d-191b-5b99-989c-c51ae0c2c3d9</RequestId></ResponseMetadata></DeleteQueueResponse>
  recorded_at: Mon, 22 Apr 2019 17:19:21 GMT
- request:
    method: put
    uri: https://s3.us-east-2.amazonaws.com/spec-bucket-b898d09f52cf2c%20
    body:
      encoding: UTF-8
      string: |
        <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/">
          <LocationConstraint>us-east-2</LocationConstraint>
        </CreateBucketConfiguration>
    headers:
      Content-Type:
      - ''
      Content-Md5:
      - DEg/e5QbWn7Ph2irsoYlcg==
      X-Amz-Date:
      - 20190422T173329Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - eb501c9177bbf477616ebd3ac1dfbc26fb1c817ca2f7a6b51cc2ec2dde6bdf41
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190422/us-east-2/s3/aws4_request,
        SignedHeaders=content-md5;expect;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amz-Request-Id:
      - 6DCA61126899A50C
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Error><Code>InvalidBucketName</Code><Message>The specified bucket is not valid.</Message><BucketName>some_bucket_name</BucketName><RequestId>6DCA61126899A50C</RequestId><HostId>VD7POQe6MLCQwQmqI26pbWUfS+457hgABiiQTCAbYJRrSf36HHQJk1sRPKUvb7e43pNCsbzs6uM=</HostId></Error>
  recorded_at: Mon, 22 Apr 2019 17:33:29 GMT
[...]
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetQueueUrl&QueueName=fake&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190422T174309Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 07b264e8946a7e59c2ece575858be427ab0471415b25821c9a64293e595e402b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190422/us-east-2/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - b0f38446-5b6d-51f3-b479-d171a4005e95
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><ErrorResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><Error><Type>Sender</Type><Code>AWS.SimpleQueueService.NonExistentQueue</Code><Message>The
        specified queue does not exist for this wsdl version.</Message><Detail/></Error><RequestId>b0f38446-5b6d-51f3-b479-d171a4005e95</RequestId></ErrorResponse>
  recorded_at: Mon, 22 Apr 2019 17:43:09 GMT
- request:
    method: put
    uri: https://some_bucket_name.s3.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: |
        <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/">
          <LocationConstraint>us-east-2</LocationConstraint>
        </CreateBucketConfiguration>
    headers:
      Content-Type:
      - ''
      Content-Md5:
      - DEg/e5QbWn7Ph2irsoYlcg==
      X-Amz-Date:
      - 20190422T174355Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - eb501c9177bbf477616ebd3ac1dfbc26fb1c817ca2f7a6b51cc2ec2dde6bdf41
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190422/us-east-2/s3/aws4_request,
        SignedHeaders=content-md5;expect;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - AD3D24B057FCFFB7
      Location:
      - http://some_bucket_name.s3.amazonaws.com/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 22 Apr 2019 17:43:56 GMT
- request:
    method: put
    uri: https://some_bucket_name.s3.us-east-2.amazonaws.com/rex/releases/alpha/rex/release.json
    body:
      encoding: UTF-8
      string: '{"whatever":"here"}'
    headers:
      Content-Type:
      - ''
      Content-Md5:
      - y+OGBnXCeVY21IEQ1ofDug==
      X-Amz-Date:
      - 20190422T174356Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - cc4d230ded561214c1a71a91632bc3a57ec73ab45c4b27037075d80a2ebef88a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190422/us-east-2/s3/aws4_request,
        SignedHeaders=content-md5;expect;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 8BED5396F551A205
      Etag:
      - '"cbe3860675c2795636d48110d687c3ba"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 22 Apr 2019 17:43:57 GMT
- request:
    method: put
    uri: https://some_bucket_name.s3.us-east-2.amazonaws.com/rex/releases/beta/rex/release.json
    body:
      encoding: UTF-8
      string: '{"whatever":"here"}'
    headers:
      Content-Type:
      - ''
      Content-Md5:
      - y+OGBnXCeVY21IEQ1ofDug==
      X-Amz-Date:
      - 20190422T174357Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - cc4d230ded561214c1a71a91632bc3a57ec73ab45c4b27037075d80a2ebef88a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190422/us-east-2/s3/aws4_request,
        SignedHeaders=content-md5;expect;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 499146AC26C49A9C
      Etag:
      - '"cbe3860675c2795636d48110d687c3ba"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 22 Apr 2019 17:43:57 GMT
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateQueue&QueueName=fake&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190422T174357Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 22005b057f947b67fbc5432cb42784dae5c01b1f44fa3bd1ed5a5ca46bfbff97
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190422/us-east-2/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 54d6fa4f-7150-5932-ad37-af788ece2251
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/fake</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>54d6fa4f-7150-5932-ad37-af788ece2251</RequestId></ResponseMetadata></CreateQueueResponse>
  recorded_at: Mon, 22 Apr 2019 17:43:58 GMT
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetQueueUrl&QueueName=fake&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190422T174413Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 07b264e8946a7e59c2ece575858be427ab0471415b25821c9a64293e595e402b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190422/us-east-2/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - b009a1f4-9264-5d36-b92a-f4c36dc9ef3f
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueUrlResult><QueueUrl>https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/fake</QueueUrl></GetQueueUrlResult><ResponseMetadata><RequestId>b009a1f4-9264-5d36-b92a-f4c36dc9ef3f</RequestId></ResponseMetadata></GetQueueUrlResponse>
  recorded_at: Mon, 22 Apr 2019 17:44:13 GMT
- request:
    method: get
    uri: https://some_bucket_name.s3.us-east-2.amazonaws.com/?encoding-type=url&versions
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      X-Amz-Date:
      - 20190422T174414Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190422/us-east-2/s3/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 5202B8997AEE8E6F
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListVersionsResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>some_bucket_name</Name><Prefix></Prefix><KeyMarker></KeyMarker><VersionIdMarker></VersionIdMarker><MaxKeys>1000</MaxKeys><EncodingType>url</EncodingType><IsTruncated>false</IsTruncated><Version><Key>rex/releases/alpha/rex/release.json</Key><VersionId>null</VersionId><IsLatest>true</IsLatest><LastModified>2019-04-22T17:43:57.000Z</LastModified><ETag>&quot;cbe3860675c2795636d48110d687c3ba&quot;</ETag><Size>19</Size><Owner><ID>6e0b5222eaecc8fba4de9d31646cd4b222bfe0630f7eac42fcb3132bdeb18fbc</ID></Owner><StorageClass>STANDARD</StorageClass></Version><Version><Key>rex/releases/beta/rex/release.json</Key><VersionId>null</VersionId><IsLatest>true</IsLatest><LastModified>2019-04-22T17:43:58.000Z</LastModified><ETag>&quot;cbe3860675c2795636d48110d687c3ba&quot;</ETag><Size>19</Size><Owner><ID>6e0b5222eaecc8fba4de9d31646cd4b222bfe0630f7eac42fcb3132bdeb18fbc</ID></Owner><StorageClass>STANDARD</StorageClass></Version></ListVersionsResult>
  recorded_at: Mon, 22 Apr 2019 17:44:14 GMT
- request:
    method: post
    uri: https://some_bucket_name.s3.us-east-2.amazonaws.com/?delete
    body:
      encoding: UTF-8
      string: |
        <Delete xmlns="http://s3.amazonaws.com/doc/2006-03-01/">
          <Object>
            <Key>rex/releases/alpha/rex/release.json</Key>
            <VersionId>null</VersionId>
          </Object>
          <Object>
            <Key>rex/releases/beta/rex/release.json</Key>
            <VersionId>null</VersionId>
          </Object>
        </Delete>
    headers:
      Content-Type:
      - ''
      Content-Md5:
      - bZ1LnXSkNmpu2GQ8qokZ1Q==
      X-Amz-Date:
      - 20190422T174414Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 15dd15da423df20a861819627cda19dc106c506add14d570a83a3d54072b3f06
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190422/us-east-2/s3/aws4_request,
        SignedHeaders=content-md5;expect;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 6DED1005EC96C7C4
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DeleteResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Deleted><Key>rex/releases/beta/rex/release.json</Key><VersionId>null</VersionId></Deleted><Deleted><Key>rex/releases/alpha/rex/release.json</Key><VersionId>null</VersionId></Deleted></DeleteResult>
  recorded_at: Mon, 22 Apr 2019 17:44:15 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.ListTables
      X-Amz-Date:
      - 20190422T174416Z
      X-Amz-Content-Sha256:
      - 44136fa355b3678a1146ad16f7e8649e94fb4fc21fe77e8310c060f61caaff8a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190422/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - 292TO6R791Q0LLHJLDK849D2L3VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '1315925753'
    body:
      encoding: UTF-8
      string: '{"TableNames":[]}'
  recorded_at: Mon, 22 Apr 2019 17:44:17 GMT
[...]
- request:
    method: get
    uri: https://s3.amazonaws.com/nothing%20real?delimiter=/&encoding-type=url&prefix=rex/releases/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      X-Amz-Date:
      - 20190422T181409Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190422/us-east-1/s3/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amz-Request-Id:
      - 9A136CF6072E1BC2
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Error><Code>InvalidBucketName</Code><Message>The specified bucket is not valid.</Message><BucketName>nothing real</BucketName><RequestId>9A136CF6072E1BC2</RequestId><HostId>vhPsJTjgNChu3O7z+gWlEwaZ2QeueIipE8zw31YaGtfeSg/qDzsp+ZCFXLmF1qD4PO1aohl5qVs=</HostId></Error>
  recorded_at: Mon, 22 Apr 2019 18:14:10 GMT
recorded_with: VCR 4.0.0
