---
http_interactions:
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateQueue&QueueName=test-open-search&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190502T221250Z
      X-Amz-Content-Sha256:
      - ff8037827640dc7e29a9605ac3a7ae1d88671adfa6803ff7faf6f7d026d1fe51
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190502/us-east-2/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 88441a41-02fe-5027-9d40-4f046f5cb798
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/test-open-search</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>88441a41-02fe-5027-9d40-4f046f5cb798</RequestId></ResponseMetadata></CreateQueueResponse>
  recorded_at: Thu, 02 May 2019 22:12:50 GMT
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/test-open-search
    body:
      encoding: UTF-8
      string: Action=SendMessage&MessageBody=%7B%22type%22%3A%22CreateIndexJob%22%2C%22book_version_id%22%3A%22foo%401%22%2C%22indexing_version%22%3A%22I1%22%7D&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2FAWS_ACCOUNT_ID%2Ftest-open-search&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190502T221250Z
      X-Amz-Content-Sha256:
      - e87bcd7343e1e760d0d344d3ebe3f9ef167d684aab8dcefb758bc91038dcf562
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190502/us-east-2/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - f061c8fd-4887-5124-b965-9db825248fe7
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><SendMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><SendMessageResult><MessageId>606f0d3a-d9ea-44c7-a905-02c25d1be82c</MessageId><MD5OfMessageBody>bbce21feb6ec036ea9a440a13c9e19bb</MD5OfMessageBody></SendMessageResult><ResponseMetadata><RequestId>f061c8fd-4887-5124-b965-9db825248fe7</RequestId></ResponseMetadata></SendMessageResponse>
  recorded_at: Thu, 02 May 2019 22:12:51 GMT
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/test-open-search
    body:
      encoding: UTF-8
      string: Action=GetQueueAttributes&AttributeName.1=All&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2FAWS_ACCOUNT_ID%2Ftest-open-search&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190502T221251Z
      X-Amz-Content-Sha256:
      - 4f6b6a8b8f4ae5334a7361de8c052e2b6a85a7838cb7de549d8e54bb202e10df
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190502/us-east-2/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 3a3eb7e0-6210-5660-a659-e2a50fb3f0da
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueAttributesResult><Attribute><Name>QueueArn</Name><Value>arn:aws:sqs:us-east-2:AWS_ACCOUNT_ID:test-open-search</Value></Attribute><Attribute><Name>ApproximateNumberOfMessages</Name><Value>1</Value></Attribute><Attribute><Name>ApproximateNumberOfMessagesNotVisible</Name><Value>0</Value></Attribute><Attribute><Name>ApproximateNumberOfMessagesDelayed</Name><Value>0</Value></Attribute><Attribute><Name>CreatedTimestamp</Name><Value>1556835170</Value></Attribute><Attribute><Name>LastModifiedTimestamp</Name><Value>1556835170</Value></Attribute><Attribute><Name>VisibilityTimeout</Name><Value>30</Value></Attribute><Attribute><Name>MaximumMessageSize</Name><Value>262144</Value></Attribute><Attribute><Name>MessageRetentionPeriod</Name><Value>345600</Value></Attribute><Attribute><Name>DelaySeconds</Name><Value>0</Value></Attribute><Attribute><Name>ReceiveMessageWaitTimeSeconds</Name><Value>0</Value></Attribute></GetQueueAttributesResult><ResponseMetadata><RequestId>3a3eb7e0-6210-5660-a659-e2a50fb3f0da</RequestId></ResponseMetadata></GetQueueAttributesResponse>
  recorded_at: Thu, 02 May 2019 22:12:51 GMT
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/test-open-search
    body:
      encoding: UTF-8
      string: Action=DeleteQueue&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2FAWS_ACCOUNT_ID%2Ftest-open-search&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190502T221251Z
      X-Amz-Content-Sha256:
      - 83fa9b5f2ac1be272c33d67a77d9e4e0217f87e969daaf90a6089c551562b46f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190502/us-east-2/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 724633f3-8f15-513d-bda0-66b6e2b10a5e
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><DeleteQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ResponseMetadata><RequestId>724633f3-8f15-513d-bda0-66b6e2b10a5e</RequestId></ResponseMetadata></DeleteQueueResponse>
  recorded_at: Thu, 02 May 2019 22:12:52 GMT
recorded_with: VCR 4.0.0
