---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"open_search_fake"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
      X-Amz-Date:
      - 20190429T200638Z
      X-Amz-Content-Sha256:
      - 6c14ec811854c777956678f89c48b495c10f4239efeca1ff74a60a18cce475da
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190429/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - GJC4Q0KNBN6A0L4DE80B1TMJQ7VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '293816480'
    body:
      encoding: UTF-8
      string: '{"__type":"com.amazonaws.dynamodb.v20120810#ResourceNotFoundException","message":"Requested
        resource not found: Table: open_search_fake not found"}'
  recorded_at: Mon, 29 Apr 2019 20:06:38 GMT
recorded_with: VCR 4.0.0
