---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"AttributeDefinitions":[{"AttributeName":"book_version_id","AttributeType":"S"},{"AttributeName":"indexing_strategy_name","AttributeType":"S"}],"TableName":"test_indexing","KeySchema":[{"AttributeName":"book_version_id","KeyType":"HASH"},{"AttributeName":"indexing_strategy_name","KeyType":"RANGE"}],"ProvisionedThroughput":{"ReadCapacityUnits":2,"WriteCapacityUnits":2}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.CreateTable
      X-Amz-Date:
      - 20190710T210206Z
      X-Amz-Content-Sha256:
      - 560d274fe07649d0c2046c4fbc04178d9e9663e684bb1f2a1fe02b6ee31d301e
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190710/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - O6K8DJ8I4JP3PPH3QJJFDCK69FVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2100381258'
    body:
      encoding: UTF-8
      string: '{"TableDescription":{"AttributeDefinitions":[{"AttributeName":"book_version_id","AttributeType":"S"},{"AttributeName":"indexing_strategy_name","AttributeType":"S"}],"CreationDateTime":1.562792526399E9,"ItemCount":0,"KeySchema":[{"AttributeName":"book_version_id","KeyType":"HASH"},{"AttributeName":"indexing_strategy_name","KeyType":"RANGE"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":2,"WriteCapacityUnits":2},"TableArn":"arn:aws:dynamodb:us-east-2:AWS_ACCOUNT_ID:table/test_indexing","TableId":"bd1e2f83-fa19-440a-b822-2fe141ce0b01","TableName":"test_indexing","TableSizeBytes":0,"TableStatus":"CREATING"}}'
  recorded_at: Wed, 10 Jul 2019 21:02:06 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_indexing"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
      X-Amz-Date:
      - 20190710T210206Z
      X-Amz-Content-Sha256:
      - b769faf39a6d0d44a0e395242dec7e6988e15b38ec5ad2735c8e20b1cb6c56c3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190710/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - G45K48C3TJATS9DQSH17OSKB9BVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2277333085'
    body:
      encoding: UTF-8
      string: '{"Table":{"AttributeDefinitions":[{"AttributeName":"book_version_id","AttributeType":"S"},{"AttributeName":"indexing_strategy_name","AttributeType":"S"}],"CreationDateTime":1.562792526399E9,"ItemCount":0,"KeySchema":[{"AttributeName":"book_version_id","KeyType":"HASH"},{"AttributeName":"indexing_strategy_name","KeyType":"RANGE"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":2,"WriteCapacityUnits":2},"TableArn":"arn:aws:dynamodb:us-east-2:AWS_ACCOUNT_ID:table/test_indexing","TableId":"bd1e2f83-fa19-440a-b822-2fe141ce0b01","TableName":"test_indexing","TableSizeBytes":0,"TableStatus":"CREATING"}}'
  recorded_at: Wed, 10 Jul 2019 21:02:06 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_indexing","Item":{"created_at":{"S":"2019-07-10T21:02:27+00:00"},"updated_at":{"S":"2019-07-10T21:02:27+00:00"},"book_version_id":{"S":"14fb4ad7-39a1-4eee-ab6e-3ef2482e3e22@15.1"},"indexing_strategy_name":{"S":"I1"},"state":{"S":"create
        pending"},"status_log":{"L":[{"S":"{\"action\":\"enqueued_create\",\"at\":\"2019-07-10T21:02:27.405Z\"}"}]}},"Expected":{"book_version_id":{"Exists":false},"indexing_strategy_name":{"Exists":false}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
      X-Amz-Date:
      - 20190710T210227Z
      X-Amz-Content-Sha256:
      - 8266260d376e35f227ea8738b66929d9e568b7d6ed4fc5eec2eee0bc00e2e806
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190710/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - 5IF4MKAKODS2QLP37UK5R9LTU7VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Wed, 10 Jul 2019 21:02:27 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_indexing"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
      X-Amz-Date:
      - 20190710T210410Z
      X-Amz-Content-Sha256:
      - b769faf39a6d0d44a0e395242dec7e6988e15b38ec5ad2735c8e20b1cb6c56c3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190710/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - KE9ENLEJSEHH17CFJQD4OKPNURVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '504833711'
    body:
      encoding: UTF-8
      string: '{"__type":"com.amazonaws.dynamodb.v20120810#ResourceNotFoundException","message":"Requested
        resource not found: Table: test_indexing not found"}'
  recorded_at: Wed, 10 Jul 2019 21:04:11 GMT
recorded_with: VCR 4.0.0
