---
http_interactions:
- request:
    method: get
    uri: https://archive.cnx.org/contents/405335a3-7cff-4df2-a9ad-29062a4af261
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Etag:
      - '"1B2M2Y8AsgTpgAmY7PhCfg"'
      Location:
      - https://archive.cnx.org/contents/405335a3-7cff-4df2-a9ad-29062a4af261@7.3
      X-Varnish-Status:
      - cacheable - Cache-Control in backend response
      X-Varnish-Backend:
      - prod07_archive2
      X-Varnish-Ttl:
      - '60.000'
      X-Varnish-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: |+
        302 Found

        The resource was found at /contents/405335a3-7cff-4df2-a9ad-29062a4af261@7.3; you should be redirected automatically.

  recorded_at: Thu, 14 Mar 2019 22:10:04 GMT
- request:
    method: get
    uri: https://archive.cnx.org/contents/405335a3-7cff-4df2-a9ad-29062a4af261@7.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"iCxiO20iO0PQ9xU7iJ6IwQ"'
      Link:
      - <https://cnx.org/contents/405335a3-7cff-4df2-a9ad-29062a4af261/College-Physics-with-Courseware>
        ;rel="Canonical"
      X-Varnish-Status:
      - cacheable - Cache-Control in backend response
      X-Varnish-Backend:
      - prod08_archive1
      X-Varnish-Ttl:
      - '31536000.000'
      X-Varnish-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"googleAnalytics": [""], "version": "7.3", "submitlog": "fix mor emath",
        "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"/>", "revised": "2018-12-18T18:50:44Z",
        "printStyle": "physics", "roles": null, "keywords": [], "id": "405335a3-7cff-4df2-a9ad-29062a4af261",
        "canonical": null, "title": "College Physics with Courseware", "mediaType":
        "application/vnd.org.cnx.collection", "canon_url": "https://cnx.org/contents/405335a3-7cff-4df2-a9ad-29062a4af261/College-Physics-with-Courseware",
        "subjects": [], "legacy_id": "col12006", "parentId": null, "resources": [{"media_type":
        "text/xml", "id": "04a19a2555359521dd3c7fe511a50a85515f7bc6", "filename":
        "collection.xml"}], "publishers": [{"surname": "with Courseware", "suffix":
        null, "firstname": "OpenStax Physics", "title": "", "fullname": "OpenStax
        Physics with Courseware", "id": "cnxphyscw"}], "parent": {"authors": [], "shortId":
        null, "version": "", "id": null, "title": null}, "stateid": 1, "parentTitle":
        null, "shortId": "QFM1o3z_", "authors": [{"surname": "with Courseware", "suffix":
        null, "firstname": "OpenStax Physics", "title": "", "fullname": "OpenStax
        Physics with Courseware", "id": "cnxphyscw"}], "parentVersion": "", "legacy_version":
        "1.7", "licensors": [{"surname": "with Courseware", "suffix": null, "firstname":
        "OpenStax Physics", "title": "", "fullname": "OpenStax Physics with Courseware",
        "id": "cnxphyscw"}], "language": "en", "license": {"url": "http://creativecommons.org/licenses/by/4.0/",
        "code": "by", "version": "4.0", "name": "Creative Commons Attribution License"},
        "created": "2016-05-02T18:26:54Z", "tree": {"shortId": "QFM1o3z_@7.3", "id":
        "405335a3-7cff-4df2-a9ad-29062a4af261@7.3", "contents": [{"shortId": "GSfFPW_I@7.1",
        "id": "1927c53d-6fc8-5d7b-87aa-7acd2880752a@7.1", "contents": [{"shortId":
        "xrUxB077@1", "id": "c6b53107-4efb-48a9-8ccf-4db622f029f3@1", "title": "<span
        class=\"os-text\">Introduction to Science and the Realm of Physics, Physical
        Quantities, and Units</span>"}, {"shortId": "lUlxiJDJ@6", "id": "95497188-90c9-4aff-9446-222d4d6f9743@6",
        "title": "<span class=\"os-number\">1.1</span><span class=\"os-divider\">
        </span><span class=\"os-text\">Physics: An Introduction</span>"}, {"shortId":
        "G3mkUPaR@4", "id": "1b79a450-f691-4301-aef3-d065268ab4a9@4", "title": "<span
        class=\"os-number\">1.2</span><span class=\"os-divider\"> </span><span class=\"os-text\">Physical
        Quantities and Units</span>"}, {"shortId": "sYerTSma@6", "id": "b187ab4d-299a-4be7-8ee1-cb71b10a54cf@6",
        "title": "<span class=\"os-number\">1.3</sp[...]
