---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"AttributeDefinitions":[{"AttributeName":"book_version_id","AttributeType":"S"},{"AttributeName":"indexing_strategy_name","AttributeType":"S"}],"TableName":"test_indexing","KeySchema":[{"AttributeName":"book_version_id","KeyType":"HASH"},{"AttributeName":"indexing_strategy_name","KeyType":"RANGE"}],"ProvisionedThroughput":{"ReadCapacityUnits":2,"WriteCapacityUnits":2}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.CreateTable
      X-Amz-Date:
      - 20190703T192503Z
      X-Amz-Content-Sha256:
      - 560d274fe07649d0c2046c4fbc04178d9e9663e684bb1f2a1fe02b6ee31d301e
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190703/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - NSJ17BKNNVDK6V1JHOF0RN8MBJVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3810095003'
    body:
      encoding: UTF-8
      string: '{"TableDescription":{"AttributeDefinitions":[{"AttributeName":"book_version_id","AttributeType":"S"},{"AttributeName":"indexing_strategy_name","AttributeType":"S"}],"CreationDateTime":1.562181903721E9,"ItemCount":0,"KeySchema":[{"AttributeName":"book_version_id","KeyType":"HASH"},{"AttributeName":"indexing_strategy_name","KeyType":"RANGE"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":2,"WriteCapacityUnits":2},"TableArn":"arn:aws:dynamodb:us-east-2:AWS_ACCOUNT_ID:table/test_indexing","TableId":"d5b1af8e-f2da-40cb-8cbf-da3d87408818","TableName":"test_indexing","TableSizeBytes":0,"TableStatus":"CREATING"}}'
  recorded_at: Wed, 03 Jul 2019 19:25:03 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_indexing"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
      X-Amz-Date:
      - 20190703T192503Z
      X-Amz-Content-Sha256:
      - b769faf39a6d0d44a0e395242dec7e6988e15b38ec5ad2735c8e20b1cb6c56c3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190703/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - FSRM5FHHP4ID4L5N6E805OHEOVVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '429224332'
    body:
      encoding: UTF-8
      string: '{"Table":{"AttributeDefinitions":[{"AttributeName":"book_version_id","AttributeType":"S"},{"AttributeName":"indexing_strategy_name","AttributeType":"S"}],"CreationDateTime":1.562181903721E9,"ItemCount":0,"KeySchema":[{"AttributeName":"book_version_id","KeyType":"HASH"},{"AttributeName":"indexing_strategy_name","KeyType":"RANGE"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":2,"WriteCapacityUnits":2},"TableArn":"arn:aws:dynamodb:us-east-2:AWS_ACCOUNT_ID:table/test_indexing","TableId":"d5b1af8e-f2da-40cb-8cbf-da3d87408818","TableName":"test_indexing","TableSizeBytes":0,"TableStatus":"CREATING"}}'
  recorded_at: Wed, 03 Jul 2019 19:25:04 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_indexing","Item":{"created_at":{"S":"2019-07-03T19:25:24+00:00"},"updated_at":{"S":"2019-07-03T19:25:24+00:00"},"book_version_id":{"S":"14fb4ad7-39a1-4eee-ab6e-3ef2482e3e22@15.1"},"indexing_strategy_name":{"S":"I1"},"state":{"S":"create
        pending"},"status_log":{"L":[{"S":"{\"action\":\"enqueued_create\",\"at\":\"2019-07-03T19:25:24.882Z\"}"}]}},"Expected":{"book_version_id":{"Exists":false},"indexing_strategy_name":{"Exists":false}}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
      X-Amz-Date:
      - 20190703T192524Z
      X-Amz-Content-Sha256:
      - 69c5d974dbe3759de278a7a5cda0becef1b2a82cde8f7cb3f1f189935e0b5a10
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190703/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - A6KFFFVATL0SS9DVPKGDFCIGIRVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Wed, 03 Jul 2019 19:25:25 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_indexing"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - DynamoDB_20120810.DescribeTable
      X-Amz-Date:
      - 20190703T192708Z
      X-Amz-Content-Sha256:
      - b769faf39a6d0d44a0e395242dec7e6988e15b38ec5ad2735c8e20b1cb6c56c3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20190703/us-east-2/dynamodb/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=<SignatureValue>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amzn-Requestid:
      - JOGM26H73UP3RIK4N1EU4BHRIVVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '504833711'
    body:
      encoding: UTF-8
      string: '{"__type":"com.amazonaws.dynamodb.v20120810#ResourceNotFoundException","message":"Requested
        resource not found: Table: test_indexing not found"}'
  recorded_at: Wed, 03 Jul 2019 19:27:09 GMT
recorded_with: VCR 4.0.0
