---
http_interactions:
- request:
    method: get
    uri: https://archive.cnx.org/contents/14fb4ad7-39a1-4eee-ab6e-3ef2482e3e22@15.1:ada35081-9ec4-4eb8-98b2-3ce350d5427f@6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"9vglANUbGmbpLniTZ3JESQ"'
      Link:
      - <https://cnx.org/contents/14fb4ad7-39a1-4eee-ab6e-3ef2482e3e22:ada35081-9ec4-4eb8-98b2-3ce350d5427f/Overview-of-Anatomy-and-Physiology>
        ;rel="Canonical"
      X-Varnish-Status:
      - cacheable - Cache-Control in backend response
      X-Varnish-Backend:
      - prod07_archive0
      X-Varnish-Ttl:
      - '31536000.000'
      X-Varnish-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"googleAnalytics": ["UA-30227798-5"], "version": "6", "submitlog":
        "errata 4944, 4975, 4995, 5059, 5061, 5262, 5531", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://www.w3.org/TR/html5/dom.html#custom-data-attribute\"
        data-cnxml-to-html-ver=\"1.3.2\">By the end of this section, you will be able
        to:\n<ul>\n<li>Compare and contrast anatomy and physiology, including their
        specializations and methods of study</li>\n<li>Discuss the fundamental relationship
        between anatomy and physiology</li>\n</ul></div>", "revised": "2018-10-17T18:45:14Z",
        "printStyle": null, "roles": null, "keywords": ["anatomy", "physiology", "systemic
        anatomy", "regional anatomy", "microscopic anatomy", "histology", "gross anatomy",
        "cytology", "homeostasis"], "id": "ada35081-9ec4-4eb8-98b2-3ce350d5427f",
        "canonical": "14fb4ad7-39a1-4eee-ab6e-3ef2482e3e22", "title": "Overview of
        Anatomy and Physiology", "mediaType": "application/vnd.org.cnx.module", "canon_url":
        "https://cnx.org/contents/14fb4ad7-39a1-4eee-ab6e-3ef2482e3e22:ada35081-9ec4-4eb8-98b2-3ce350d5427f/Overview-of-Anatomy-and-Physiology",
        "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n  <body><div data-cnxml-to-html-ver=\"1.3.3\"
        data-type=\"page\" id=\"ada35081-9ec4-4eb8-98b2-3ce350d5427f\"><h2 data-type=\"document-title\"
        id=\"25098\"><span class=\"os-number\">1.1</span><span class=\"os-divider\">
        </span><span class=\"os-text\">Overview of Anatomy and Physiology</span></h2><div
        data-type=\"abstract\" id=\"97680\">By the end of this section, you will be
        able to:\n<ul>\n<li>Compare and contrast anatomy and physiology, including
        their specializations and methods of study</li>\n<li>Discuss the fundamental
        relationship between anatomy and physiology</li>\n</ul></div>\n\n<p id=\"fs-id2264559\">Huma[...]
